*{
  box-sizing: border-box ;
}

h1 {
  font-size: 2rem;
}

.container {
  display: grid;

}

main img {
  display: grid;
  width: 300px;
  height: 300px;
 
}

main img:hover {
  
  border:rgb(92, 37, 37);
}